.admin-password-container-admin {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .admin-password-title-admin {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .admin-password-form-admin {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-admin {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-label-admin {
    width: 150px;
    font-weight: bold;
    text-align: center;
  }
  
  .form-input-admin {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .form-button-admin {
    padding: 10px;
    background-color: #412330;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .message-admin {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .message-admin.error {
    color: red;
    background-color: #ffcccc;
  }
  
  .message-admin.success {
    color: green;
    background-color: #ccffcc;
  }