.forget-password-container-forget {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .forget-password-title-forget {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forget-password-form-forget {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-forget {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-label-forget {
    width: 150px;
    font-weight: bold;
    text-align: right;
  }
  
  .form-input-forget {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .form-button-forget {
    padding: 10px;
    background-color: #412330;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .message-forget {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .message-forget.error {
    color: red;
    background-color: #ffcccc;
  }
  
  .message-forget.success {
    color: green;
    background-color: #ccffcc;
  }