.forget-password-container-forget {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-password-title-forget {
  text-align: center;
  margin-bottom: 20px;
}

.forget-password-form-forget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group-forget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.form-label-forget {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.form-input-forget {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.form-button-forget {
  width: 50%;
  padding: 10px;
  background-color: #412330;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.message-forget {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.message-forget.error {
  color: red;
  background-color: #ffcccc;
}

.message-forget.success {
  color: green;
  background-color: #ccffcc;
}