.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.signup-form {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.signup-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.signup-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 20px;
}

.signup-button {
  width: 50%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}



.signup-error-message {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
